* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #8F57FD;
    font-family: 'Muli', sans-serif;
}

.header {
    width: 100%;
    height: 8rem;
    background-color: #21c08b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 20rem;
    margin-left: 1rem;
}

.header__img {
    width: 20rem;
    margin-left: 1rem;
}

.header__menu {
    margin-right: 1rem;
}

.header__menu ul {
    display: none;
    list-style: none;
    position: absolute;
    width: 10rem;
    text-align: right;
    margin-left: -14px;
}

.header__menu:hover ul,
ul:hover {
    display: block;
}

.header__menu li {
    margin: .8rem 0;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    color:black;
}

 .header__menu--profile {
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 4rem;
}

.header__menu--profile p {
    color: white;
}

.login {
    background: linear-gradient(#21c08b, #8F57FD);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0;
    min-height: calc(100vh - 20rem);
}

.login__container {
    background-color: rgba(255,255,255,0.1);
    border: .2rem solid white;
    border-radius: 4rem;
    color: white;
    padding: 6rem 6.8rem 4rem;
    min-height: 70rem;
    width: 40rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 1.4rem;
}

.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.login__container--remember-me a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.login__container--social-media > div > img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.login__container--register {
    font-size: 1.4rem;
}

.login__container--register a {
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: .2rem solid white;
    font-size: 1.6rem;
    font-family: 'Muli', sans-serif;
    margin: 2rem 0;
    padding: 0 2rem;
    outline: none;
    height: 3rem;
}

::placeholder {
    color: white;
}

.button {
    background-color: rgba(255,255,255,0.3);
    border:none;
    border-radius: 2.5rem;
    color:white;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    height: 5rem;
    letter-spacing: .1rem;
    margin: 1rem 0;
}

.container {
    display: flex;
    width: 100%;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buscador {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buscador__title {
    color: white;
    font-size: 2.5rem;
    margin: 2rem 0;
}


.buscador .input {
    background-color: rgba(255, 255, 255, 0.1);
    border: .2rem solid white;
    border-radius: 3.5rem;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 1.6rem;
    height: 5rem;
    padding: 0 2rem;
    width: 70%;
}

.buscador .input::placeholder {
    color: white;
}

.buscador .input:focus {
    outline: none;
}

.carrousel {
    width: 100%;
    /* overflow-y: hidden; */
    overflow-x: auto;
    padding: 1rem;
    position: relative;
}

.categories__title { 
    color:white;
    font-size: 1.6rem;
    padding-left: 1rem;
    width: 100%;
}

.carrousel__container {
    /* para que los elementos se coloquen uno junto a otro */
    white-space: nowrap;
    margin: 7rem 0;
    padding-bottom: 1rem;
}

.carrousel-item {
    background-color: blue;
    width: 20rem;
    height: 25rem;
    border-radius: 2rem;
    overflow: hidden;
    margin-right: 1rem;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carrousel-item:hover ~ .carrousel-item {
    transform: translate3d(10rem, 0, 0);
}

.carrousel__container:hover .carrousel-item {
    opacity: 0.3;
}

.carrousel__container:hover .carrousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carrousel-item__img {
    width: 20rem;
    height: 25rem;
    object-fit: cover;
}

.carrousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 1rem;
    opacity: 0;
    transition: 450ms opacity;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carrousel-item__details:hover {
    opacity: 1;
}

.carrousel-item__details img {
    width: 4rem;
}

.carrousel-item__details--content {
    position: absolute;
    bottom: 1rem;
    color: white;
}

.carrousel_item__details--title {
    font-size: 1.2rem;
}

.footer {
    background-color: #8F57FD;
    display: flex;
    align-items: center;
    height: 10rem;
    width: 100%;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    text-decoration: none;
    padding-left: 3rem;
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .login__container{
        background-color: transparent;
        border:none;
        padding: 0;
        width: 100%;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
    }

    .footer a {
        padding: 0;
    }
}